<html>
	<head>
		<title>PAW</title>
	</head>

	<body>
		<h1>Edit Shelter</h1>
		<form action="{{url_for('edit_shelter', shelter_id = shelter.id)}}" method='POST'>
			<d1>
				<dt>Name:</dt>
					<dd><input type = 'text' size='30' name='name' value='{{shelter.name}}'></dd>
				<dt>Address:</dt>
					<dd><input type = 'text' size='30' name='address' value='{{shelter.address}}'></dd>
				<dt>City:</dt>
					<dd><input type = 'text' size='30' name='city' value='{{shelter.city}}'></dd>
				<dt>State:</dt>
					<dd><input type = 'text' size='30' name='state' value='{{shelter.state}}'></dd>
				<dt>Zipcode:</dt>
					<dd><input type = 'text' size='30' name='zipcode' value='{{shelter.zipcode}}'></dd>
				<dt>Email:</dt>
					<dd><input type = 'text' size='30' name='email' value='{{shelter.email}}'></dd>
			</d1>
				
			<input type='submit' value='Edit'>
			<a href="{{url_for('shelter_admin')}}">Cancel</a>
		</form>
		
	</body>

</html>