<html>
	<head>
		<title>PAW</title>
	</head>

	<body>
		<h1>Edit Puppy</h1>
		<form action="{{url_for('edit_puppy', puppy_id = puppy.id)}}" method='POST'>
			<d1>
				<dt>Name:</dt>
					<dd><input type = 'text' size='30' name='name' placeholder='{{puppy.name}}'></dd>
				<dt>DOB:</dt>
					<dd><input type = 'date' name = 'dob'></dd>
				<dt>Breed:</dt>
					<dd><input type = 'text' size='30' name='breed' placeholder='{{puppy.breed}}'></dd>
				<dt>Gender:</dt>
					<dd><input type = 'text' size='30' name='gender' placeholder='{{puppy.gender}}'></dd>
				<dt>Weight:</dt>
					<dd><input type = 'text' size='30' name='weight' placeholder='{{puppy.weight}}'>lbs</dd>
				<dt>Shelter:</dt>
					<dd><select name = "shelter">
						{% for shelter in shelters %}
							<option value = '{{shelter.name}}'>{{shelter.name}}</option>
						{% endfor %}
					</select>
			</d1>
				
			<input type='submit' value='Edit'>
			<a href="{{url_for('puppies_admin', shelter_id = puppy.shelter_id)}}">Cancel</a>
		</form>
		
	</body>

</html>